.logo {
    max-height: 25px;
}
.social-icons {
    display: flex;
    gap: 10px; 
}
.am {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.slide{
    width: 100%;}

.custom-header {
background-color: #343a40; 
}
    
.navbar-light .navbar-nav .nav-link {
color: #ffffff; 
}
    
.navbar-light .navbar-nav .nav-link:hover {
color: #ff4081; /
}

body {
    overflow-x: hidden;
}

.container-fluid, .container {
    max-width: 100%;
}

.footer {
    background-color: #343a40; 
}
.card-img-top {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }

  .card {
    height: 100%;
    border: none;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.custom-carousel {
    height: 400px;
    object-fit: cover;
}

.custom-carousel .carousel-inner {
    height: 100%;
}

.custom-carousel .carousel-item {
    height: 100%;
}

.custom-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-carousel .carousel-caption {
    bottom: 20px;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    width: 5%;
}

#mensaje-no-resultados.d-none {
    display: none;
  }
  
  #mensaje-no-resultados {
    display: block;
    padding: 20px;
    background-color: #FF8225;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
  }
  
  .past-events .card {
    height: 300px; /* Adjust as needed */
}

.past-events .card-img-top {
    height: 180px; /* Adjust as needed */
}




  
  
  
